:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg

  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;

  /* LEMRtheme */
  --primary: #00204a;
  --secondary: #005792;
  --light: #00bbf0;
  --highlight: #fdb44b;
  --warning: #c3195d;

  --white: #edf2f6;
  --black: #1a202c;

  --green: lime;

}

.container {
  max-width: var(--max-width);
  margin: 0.5rem auto;
  display: flex;
  flex-direction: column;
    /*padding: 0 1rem;*/
}

.header1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
}

.header2 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
}

.header3 {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.2;
}

.italicText {
  font-size: 1.5rem;
  line-height: 1.2;
  font-style: italic;
}

.buttonText {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.2;
}

.standardText {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2;
}

