/*Patient Layout*/

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: auto;
}

.content {
    max-width: 1200px;
    margin: 0 20px;
    flex: 1;
}

/* Patient Page */

.container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: calc(100vh - 118px);
    margin: auto;
}

.patientInfo {
    display: flex;
    justify-content: flex-start;
    margin: 20px 0 0;
}

.patientName {
    font-size: 2rem;
    font-weight: 600;
    color: var(--secondary);
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

